body {
  background: black;
}

.font-home-color {
  color: white;
}

.home-preview {
  width: 100%;
  padding-top:100%;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.home-preview2 {
  width: 100%;
  height: 50%;
  padding-top:50%;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}


.opacidad {
transition: all .5s ease-in-out;
}
.opacidad:hover {
-webkit-filter: saturate(150%);
    filter: saturate(150%);
}

.text-secondary{
  color: yellow!important;
}